body {
  background-color: var(--background);
  color: var(--color);
  border: #828a121f;
}

.header-link {
  color: var(--color);
}


.title {
  margin-top: 70px;
  text-align: center;
  align-content: center;
  height: 200px;
}

h1 {
  font-size: 40px;
  font-weight: lighter;
}

.content {
  padding: 20px auto;
  text-align: center;
  align-content: center;
}

.exp-container {
  padding: 15px 20px;
  border: var(--dark-container-border);
  border-radius: 5px;
}

@media screen and (min-width: 1400px) {
  .content
  {
    margin: 4% 14%;
  }
}